.container
    .jumbotron
        h1 Dev Training
        p Welcome to Dev Training! The most comprehensive and complete collection of training for developers on the web.

    .row
        .col-md-6
            div(ng-include="'/partials/main/featured-courses'")
        .col-md-6
            div(ng-include="'/partials/main/new-courses'")